/* Resets */
h1, h2, h3, h4, h5, h6 {padding:0; margin:0; }
img {border:none;}
code {background:#ccc; color:#333; padding:0 0.6em;}

body {text-align:center; padding:0; margin:0; font-family:Helvetica, arial, sans-serif; border-top:solid 20px #7AB6DB; color:#351A13;}
#divPage {width:960px; text-align:left; margin:0 auto; position:relative; font-size:100%;}

/* Header & menu */
#divHeader {padding:0;margin-bottom:1em; width:97%;
    position:relative;background:#fff; text-align:left;}
#divLogo {height:84px; width:360px; }
#divLogo p {margin:0; padding:10px 0 0 0; font-size:2em;}
#divLogo p a {margin:0; color:#EAB57F:}
#divMenu {position:absolute; top:18px; right:1.5%; text-align:right; }
#divMenu ul li {padding:0.3em 0.3em; list-style-type:none; display:inline; 
    border-right:dotted 1px #808080; font-size:1.1em;
    margin-right:0.3em;font-weight:bold;}
#divMenu ul li.last {border:none;padding-right:0;margin-right:4px;}    

/* Content and columns */
#divContent {padding-bottom:3em; font-size:0.9em;}
.content {padding-top:1.3em;}
.content.left, .content.right {float:left;}
.content.half {width:50%;}
.content.col.left {width:60%;}
.content.col.right {width:37%; padding-left:3%;}
.content .section {padding:1em 0; border-bottom:dotted 1px #ccc;}
.content h2 {padding-bottom:0.6em;font-size:1.7em;}
.content h3 {padding-bottom:0.6em;}
.content h4 {padding-bottom:0.6em;}

/* Attention */
div.attention {text-align:center;}

/* Footer */
#divFooter {text-align:left; padding-bottom:1em; position:relative;text-align:center; border-top:solid 20px #D3B49F;
        bottom:0; left:0;clear:left; width:100%; font-size:0.8em; background:#D5C5AE; color:#351A13;}
#divFooter a {color:#351A13;}
#divFooter ul  li {display:inline;}

/* Errors */
#divErrors ul {padding:0; margin:0; list-style-type:none; line-height:1.4em;}
#divErrors ul li {background:#a22424; padding:0.1em 0; margin:0; text-align:center; color:#fff;}
.error textarea, .error input, .error select {border:solid 1px red;}
small.error_hint {color:#cc0000;}

/* Links */
a {color:#2680c6; text-decoration:none;}
a:hover {text-decoration:underline;}
span.faux_link {color:#ccc;}

/* Tables */
table {width:100%; border-collapse:collapse;}
table.data {margin-top:1em; margin-bottom:1em;}
table.data th {text-transform:uppercase; font-weight:normal;background:#f8f8f8; color:#808080;padding:0.3em 0.5em;
border-top:solid 1px #ccc; border-bottom:solid 1px #ccc;padding:0.4em 0.6em;}
table.data tr:nth-child(odd) td {background:#ffffd7;}
table.data td {border-bottom:dotted 1px #ccc; border-top:solid 1px #ffffd7;padding:0.3em 0.5em; line-height:1em;}
table.data tr:hover td {border-bottom:solid 1px #ccc;border-top:solid 1px #ccc;}


/* Page titles */
div.page_title {border-bottom:dotted 1px #ccc; border-top:solid 1px #ccc;
    padding-bottom:0.3em; padding-top:0.8em;margin-top:1em;}
.page_controls {position:absolute; top:0.6em; right:0; text-align:right;}

/* Page tabs */
div.page_tabs {clear:left;}
div.page_tabs ul {border-bottom:solid 1px #ccc; height:1.65em; padding:0; margin:0;}
div.page_tabs ul li {float:left; list-style-type:none; padding:0.3em 0.8em; margin:0 0.3em;
        border-top:solid 1px #ccc;border-left:solid 1px #ccc;border-right:solid 1px #ccc;}
div.page_tabs ul li.selected {border-bottom:solid 1px #fff; position:relative; top:-1px;
        background:#fff;}
div.tab_tools {text-align:right; padding:0.8em 0.1em;}
div.tab_tools form {padding:0 0.5em; display:inline;}
div.page_tab_body {clear:left;}

/* Clear */
br.clear {clear:both;}

/* Hide */
.hide {display:none;}

/* Forms */
ul.form {padding:0; margin:0;}
ul.form li {padding:0; margin:0; list-style-type:none; clear:left;}
ul.form li label {display:block; float:left; width:10em;}
ul.form li small.taghint em {font-size:2.5em;line-height:0.5em;}
ul.form li.checkboxes {clear:left;}
ul.form li.checkboxes label {clear:none; display:inline; width:auto;}
fieldset {padding:0; margin:0; border:none;}
div.buttons {clear:left;}

input.button {font-size:1em;
    -webkit-border-radius: 4px;-moz-border-radius: 4px; 
    background-color:#6fb1e6; color:#fff;
        padding:0.4em 0.6em 0.4em 0.6em;border:solid 1px #2680c6;font-weight:bold; text-transform:uppercase;}
input.button.small {font-size:0.7em;}        
input.danger {background:#fc999c; border-color:#ec5f5e;}
input.button:active {color:#2680c6;}
input.button:disabled {background-color:#ddd; border-color:#ccc; }

/* Lists */
ul {padding-left:0;}
ul li {padding:0 0 0.5em 0; margin-left:0; list-style-type:none;}
ul.bulleted li {padding:0 0 0 0; margin-left: 1.5em; list-style-type: disc;}

/* Highlight */
span.highlight {background:#ffffaa; padding:0 0.4em;}
div.highlight {background:#ffffd7; padding:1em; margin-bottom: 0.5em;}

/* Front page */
#divFrontMap {height:400px;}

p.intro {font-size:1.5em; margin-top:0;}
p.byline {font-size:0.9em;border-top:solid 1px #808080;border-bottom:solid 1px #808080;
    padding:0.5em 0;}
    
/* metadata */
dl.transport_routes {padding:0; margin:0 0 1em 0;}
dl.transport_routes dt {padding:0 8px 0 0; margin:0;width:40px; height:20px; float:left;}
dl.transport_routes dt.bus {background: url(../images/bus.png) no-repeat;}
dl.transport_routes dt.tube {background: url(../images/tube.png) no-repeat}
dl.transport_routes dt.train {background: url(../images/train.png) no-repeat}
dl.transport_routes dt span {display:none;}
dl.transport_routes dd {min-height:20px;padding-top:0.5em;}

/* mural condition */
div.condition span {display:block; background-repeat:no-repeat; background-position:0 0;
    min-height:54px; border-top:dotted 1px #ccc;border-bottom:dotted 1px #ccc;
    padding:8px 0;}
div.condition span img {vertical-align:middle; margin-right:10px;}    

/* user action */
.user_action {border-top:solid 5px #ffffa0;border-bottom:solid 5px #ffffa0;padding:1em 0;}


/* Timelines */
dl.timeline {color:#808080; font-size:0.8em;}
dl.timeline dt {float:left;border-right:solid 3px #ccc;clear:left; width:4em;}
dl.timeline dd {float:left;padding-left:0.3em;margin-left:0;}