/* Resets */
h1, h2, h3, h4, h5, h6 {padding:0; margin:0;}
img {border:none;}
code {background:#000; color:#fff; padding:0.2em 0.8em;}

body {text-align:center; padding:20px 0 20px 0; margin:0; font-family:Helvetica, arial, sans-serif; color:#351A13; background:#ece7e0;}
#divPage {width:960px; text-align:left; margin:0 auto; position:relative; font-size:100%;}

/* Header & menu */
#divHeader {padding:0;margin-bottom:1em;background:url(../images/header.png) no-repeat; 
    position:relative;text-align:left;}
#divLogo a {height:150px; display:block;width:200px;padding:10px 3px 3px 20px;}
#divLogo a span {display:none;;}
#divMenu {position:absolute; top:18px; right:40px; text-align:right; }
#divMenu ul li {}
#divMenu ul li.last {}
#divMenu ul li a {padding-top:3px; color:#fff;}
#divMenu ul li a img {vertical-align:top;margin-right:2px;}

/* Content and columns */
#divContent {padding:20px 0 3em 0; font-size:1em;background:#fff;border: #ccc solid 1px;-moz-box-shadow: -1px 1px 1px #cfcfcf;-webkit-box-shadow: -1px 1px 2px #cfcfcf;box-shadow: -1px 1px 2px #cfcfcf;}
.content.full {padding-left:20px;padding-right:20px; position:relative;}
.content.fullplus {padding-left:0!important;padding-right:0!important;}
.content.left, .content.right {float:left;}
.content.half {width:448px;}
.content.left {padding-left:20px;}
.content.right {padding-right:20px;padding-left:20px;}
.content.col.left {width:630px;padding-left:20px;padding-right:20px;}
.content.col.right {width:248px; padding-right:20px;padding-left:20px;}
.content .section {padding:1em 0; border-bottom:dotted 1px #ccc;}
.content h1 {padding-bottom:0.6em;font-size:3em;padding-bottom:0.1em;}
.content h2 {padding-bottom:0.6em;font-size:1.7em;}
.content h3 {padding-bottom:0.6em;}
.content h4 {padding-bottom:0.6em;text-transform:uppercase;}

/* Attention */
div.attention {text-align:center;}

/* Footer */
#divFooter {text-align:left; padding-bottom:1em; position:relative;text-align:center;
        bottom:0; left:0;clear:left; width:100%; color:#fff;
        background:url(../images/footer.png) no-repeat; height:100px;padding-top:50px;}
#divFooter ul {padding-top:0;}
#divFooter ul li {display:inline;padding: 0 1em;}
#divFooter a {color:#fff;}

/* Errors */
#divErrors ul {padding:0; margin:0; list-style-type:none; line-height:1.4em;}
#divErrors ul li {background:#a22424; padding:0.1em 0; margin:0; text-align:center; color:#fff;}
.error textarea, .error input, .error select {border:solid 1px red;}
small.error_hint {color:#cc0000;}

/* Links */
a {color:#2680c6; text-decoration:none;}
a:hover {text-decoration:underline;}
span.faux_link {color:#ccc;}

/* Tables */
table {width:100%; border-collapse:collapse;}
table.data {margin-top:1em; margin-bottom:1em;}
table.data th {text-transform:uppercase; font-weight:normal;background:#f8f8f8; color:#808080;padding:0.3em 0.5em;
border-top:solid 1px #ccc; border-bottom:solid 1px #ccc;padding:0.4em 0.6em;}
table.data tr:nth-child(odd) td {background:#ffffd7;}
table.data td {border-bottom:dotted 1px #ccc; border-top:solid 1px #ffffd7;padding:0.3em 0.5em; line-height:1em;}
table.data tr:hover td {border-bottom:solid 1px #ccc;border-top:solid 1px #ccc;}

/* Map key */
ul.key {text-align:right; padding:5px 10px 5px 0;position:relative; top:-40px; color:#808080;background:#fafafa; border-bottom:solid 1px #ccc;border-top:solid 1px #ccc;}
ul.key li {display:inline; font-size:0.8em; padding-right:10px;}
ul.key li img {margin-right:5px;vertical-align:middle; }
#liFullList {position:absolute;left:10px;top:12px; font-weight:bold;}

/* Page titles */
div.page_title {border-bottom:dotted 1px #ccc; border-top:solid 1px #ccc;
    padding-bottom:0.3em; padding-top:0.8em;margin-top:1em;}
.page_controls {position:absolute; top:0.6em; right:0; text-align:right;}

/* Page tabs */
div.page_tabs {clear:left; margin-bottom:1em;}
div.page_tabs ul {border-bottom:solid 1px #ccc; height:1.65em; padding:0; margin:0;}
div.page_tabs ul li {float:left; list-style-type:none; padding:0.3em 0.8em; margin:0 0.3em;
        border-top:solid 1px #ccc;border-left:solid 1px #ccc;border-right:solid 1px #ccc;}
div.page_tabs ul li.selected {border-bottom:solid 1px #fff; position:relative; top:-1px;
        background:#fff;}
div.tab_tools {text-align:right; padding:0.8em 0.1em;}
div.tab_tools form {padding:0 0.5em; display:inline;}
div.page_tab_body {clear:left;}

/* Clear */
br.clear {clear:both;}

/* Hide */
.hide {display:none;}

/* Forms */
ul.form {padding:0; margin:0;}
ul.form li {padding:0; margin:0; list-style-type:none; clear:left;}
ul.form li label {display:block; float:left; width:10em;}
ul.form li small.taghint em {font-size:2.5em;line-height:0.5em;}
ul.form li.checkboxes {clear:left;}
ul.form li.checkboxes label {clear:none; display:inline; width:auto;}
fieldset {padding:0; margin:0; border:none;}
div.buttons {clear:left;}

input.button {font-size:1em;
    -webkit-border-radius: 4px;-moz-border-radius: 4px; 
    background-color:#6fb1e6; color:#fff;
        padding:0.4em 0.6em 0.4em 0.6em;border:solid 1px #2680c6;font-weight:bold; text-transform:uppercase;}
input.button.small {font-size:0.7em;}        
input.danger {background:#fc999c; border-color:#ec5f5e;}
input.button:active {color:#2680c6;}
input.button:disabled {background-color:#ddd; border-color:#ccc; }

/* Lists */
ul {padding-left:0;}
ul li {padding:0 0 0.5em 0; margin-left:0; list-style-type:none;}
ul.bulleted li {padding:0 0 0 0; margin-left: 1.5em; list-style-type: disc;}

/* Highlight */
span.highlight {background:#ffffaa; padding:0 0.4em;}
div.highlight {background:#ffffd7; padding:1em; margin-bottom: 0.5em;}

/* Front page */
#divFrontMap {height:400px; position:relative; top:-20px;}
.olPopup {border:solid 1px #ccc;}
.olControlAttribution {position:absolute;right:0;bottom:5px!important;}
.olControlAttribution.olControlNoSelect {bottom:10px!important; font-size:0.7em!important;}

#divIntro {position:relative; top:-30px;}

p.intro {font-size:1.5em; margin-top:0;padding-top:1em;}
.byline {font-size:0.9em;
    padding:0.5em 100px 1em 20px; position:relative;}
.slice_image {overflow:hidden;}

/* metadata */
div.meta {background:#fafafa;border-top:solid 1px #ccc;border-left:solid 1px #ccc;border-bottom:solid 1px #ccc; width:246px!important; position:relative;right:-1px; -moz-box-shadow: -1px 1px 2px #ddd;-webkit-box-shadow: -1px 1px 2px #ddd;box-shadow: -1px 1px 2px #ddd; padding-top:1em; font-size:0.9em; color:#2F2520;}
div.meta h4 {padding-bottom:0.6em;margin-bottom:0;}
div.meta div {border:none;-moz-box-shadow: none;-webkit-box-shadow: none;padding-bottom:1.2em;}
div.meta div p, div.meta div ul {padding-top:0; margin-top:0;}

/* transport */
dl.transport_routes {padding:0; margin:0 0 1em 0;}
dl.transport_routes dt {padding:0 8px 0 0; margin:0;width:40px; height:20px; float:left;}
dl.transport_routes dt.bus {background: url(../images/bus.png) no-repeat rgba(255,255,255,0.9);}
dl.transport_routes dt.tube {background: url(../images/tube.png) no-repeat rgba(255,255,255,0.9)}
dl.transport_routes dt.train {background: url(../images/train.png) no-repeat rgba(255,255,255,0.9)}
dl.transport_routes dt span {display:none;}
dl.transport_routes dd {min-height:20px;padding-top:0.5em;}

/* mural condition */
div.condition span {display:block; background-repeat:no-repeat; background-position:0 0;
    min-height:54px;
    padding:8px 0;}
div.condition span img {vertical-align:middle; margin-right:10px;}    

/* user action */
.user_action {border-top:solid 5px #ffffa0;border-bottom:solid 5px #ffffa0;padding:1em 0;}

/* Timelines */
dl.timeline {font-size:1em;padding-top:0; margin-top:0; font-size:0.9em;}
dl.timeline dt {float:left;border-right:solid 1px #333;clear:left; width:2em;min-height:4px;padding-right:12px;}
dl.timeline dd {float:left;padding-left:0.3em;margin-left:4px;}

/* pictograms */

div.pictogram {border:solid 1px #808080!important; position:relative;background:#fff;padding:0!important; margin-bottom:2px;}
div.pictogram span {position:absolute; bottom:8px; left:10px; color:#333; font-size:0.8em;}
#imgScale {position:absolute; bottom:0px; right:-15px;}

div.pictogram #trim_height {display:block; height:50px;border-left:dashed 1px #fff; position:absolute; top:20px; left:-1px;border-right:dashed 1px #fff; }

div.pictogram #trim_width {display:block; width:50px;border-top:dashed 1px #fff; position:absolute; left:20px; top:-1px;border-bottom:dashed 1px #fff;}

/* infobox */
div.infobox {background:#fafafa; border:solid 1px #ccc; padding: 1em 0.7em;}
div.infobox p {margin:0;}

/* Share links */
#pShareLinks {position:absolute;top:6px; right:20px;padding:0;margin:0;text-align:right;}
#pShareLinks iframe {border:none!important;}
#pShareLinks .fb_iframe_widget {position:relative; top:-4px; left:3px;}

/* Swatches */
table.swatch td {height:100px;}
table.swatch td span {display:none;}

/* Donate button */
div.donate {border:solid 1px #808080; text-align:center; padding:20px 0; background:#fafafa;}