{% extends "base.html" %}
{% block title %}{{artist.name}}, mural artist{% endblock %}
{% block content %}
    <div class="content left col">
        <h1>{{artist.name}}</h1>
        <p class="intro">
            {{artist.short_biography}}
        </p>
        <div class="story">
            {{artist.long_biography|escape|linebreaks}}
        </div>
        <h3>Murals by this artist</h3>
        <ul>
            {% for mural in artist.mural_set.all %}
                <li><a href="{% url mural mural.uri_slug %}">{{mural.title}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="content right col">
        
    </div>
{% endblock %}
{% block run_script %}setupFrontMap();{% endblock %}