<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/main.css" />
	    <script type="text/javascript" src="http://www.openlayers.org/api/OpenLayers.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}javascript/cloudmade.js"></script>	    	    
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>	                                           
        <script src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>	        
		<script type="text/javascript" src="{{ MEDIA_URL }}javascript/main.js"></script>	    
	    {% block css %}{% endblock %}
	    <title>{% block title %}{% endblock %} | London Mural Preservation Society</title>
	</head>
	<body>
		<div id="divPage">
    	    {# Header #}
    	    <div id="divHeader">
	        
                {# Logo #}
                <div id="divLogo">
				    <a href="{% url index %}"><span>London Mural Preservation Society</span></a>
    			</div>
		
    			{# Errors #}
    	        <div id="divErrors">
    	            {% if error_messages %}
                     <ul>
                         {% for error in error_messages %}
                             <li>{{ error|escape }}</li>
                         {% endfor %}
                     </ul>
                     {% endif %}
    		         {% block errors %}
	            
    		         {% endblock %}		    
    		     </div>
    	    </div>

		    {# Menu #}
			<div id="divMenu">
			    <ul class="main_menu">
				    <li>
				        <a href="/" title="Murals">Home</a>
				    </li>
				    <li>
				        <a href="{% url murals %}" title="Murals">Find a mural</a>
				    </li>
				    <li>
				        <a href="http://londonmuralpreservationsociety.wordpress.com/" title="About">Latest news</a>
				    </li>
				    <li>
				        <a href="{% url index %}volunteer/" title="About">Volunteer</a>
				    </li>
				    <li>
				        <a href="{% url index %}donate/" title="About">Donate</a>
				    </li>
				    <li>
				        <a href="{% url index %}about/" title="About">About us</a>
				    </li>
				</ul>
				<ul class="social_menu">
				    <li>
				        <a href="http://www.facebook.com/pages/London-Mural-Preservation-Society/171237189587154"title="Get involved">
				            <img src="{{MEDIA_URL}}/images/facebook.png" />
				        </a>
				    </li>
				</ul>

			</div>

	    
    	    {# Content #}
    	    <div id="divContent">
      
    		    {% block content %}{% endblock %}
    		    <br class="clear"/>
    	    </div>			
    	    {% block footer %}
    			<div id="divFooter">
    			    <div>
    				        &copy; London Mural Preservation Society {% now "Y" %}
    				</div>
    	             <ul>
    	                 <ul class="main_menu">
         				    <li>
         				        <a href="{% url murals %}" title="Murals">Murals</a>
         				    </li>
         				    <li>
         				        <a href="http://londonmuralpreservationsociety.wordpress.com/" title="About">Blog</a>
         				    </li>
         				    <li>
         				        <a href="{% url index %}about/" title="About">About us</a>
         				    </li>
         				    <li class="last">
         				        <a href="http://www.facebook.com/pages/London-Mural-Preservation-Society/171237189587154" title="Get involved">Get involved, join us on Facebook!</a>
         				    </li>
         				</ul>
    	             </ul>
    			</div>
    		{% endblock %}
    	</div>
        
		{# Script #}
	    <script type="text/javascript" defer="defer">
	        {% block run_script %}{% endblock %}
        </script>

        {# Google analytics #}
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-19839364-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
	</body>
</html>
