<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/main.css" />
	    <script type="text/javascript" src="http://www.openlayers.org/api/OpenLayers.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}javascript/cloudmade.js"></script>	    	    
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>	                                           
        <script src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}javascript/main.js"></script>	    
	    {% block css %}{% endblock %}
	    <title>{% block title %}{% endblock %} | London Mural Preservation Society</title>
	</head>
	<body>
		<div id="divPage">
    	    {# Header #}
    	    <div id="divHeader">
	        
                {# Logo #}
                <div id="divLogo">
    				<p>
    				    <a href="{% url index %}"><span class="hideX">London Mural Preservation Society</span></a>
    			    </p>
    			</div>
		
    		    {# Menu #}
    			<div id="divMenu">
    			    <ul class="main_menu">
    				    <li>
    				        <a href="{% url index %}" title="Home">Home</a>
    				    </li>
    				    <li>
    				        <a href="{% url murals %}" title="Murals">Murals</a>
    				    </li>
    				    <li>
    				        <a href="{% url artists %}" title="Artists">Artists</a>
    				    </li>
    				    <li>
    				        <a href="{% url index %}about/" title="About">About</a>
    				    </li>
    				</ul>

    			</div>
    			{# Errors #}
    	        <div id="divErrors">
    	            {% if error_messages %}
                     <ul>
                         {% for error in error_messages %}
                             <li>{{ error|escape }}</li>
                         {% endfor %}
                     </ul>
                     {% endif %}
    		         {% block errors %}
	            
    		         {% endblock %}		    
    		     </div>
    	    </div>
	    
    	    {# Content #}
    	    <div id="divContent">
      
    		    {% block content %}{% endblock %}
    	    </div>			
    	</div>
    	{% block footer %}
			<div id="divFooter">
	             <ul>
	                 <li><a href="#">About</a></li>
	                 <li><a href="http://londonmuralpreservationsociety.wordpress.com/">Blog</a></li>
	             </ul>
				<div>
				        &copy; London Mural Preservation Society
				</div>
			</div>
		{% endblock %}
        
		{# Script #}
	    <script type="text/javascript" defer="defer">
	        {% block run_script %}{% endblock %}
        </script>
	</body>
</html>
