{% extends "base.html" %}
{% load chunks %}
{% block title %}Celebrating London's Murals{% endblock %}
{% block content %}
    <input type="hidden" id="hidMapData" value="{{murals_json}}" />
    <div id="divFrontMap"></div>
    <ul class="key">
        <li id="liFullList"><a href="#">View a full list of murals ...</a></li>
        <li><img src="{{MEDIA_URL}}/images/brush_good_small.png" alt="Good"/>Good condition</li>
        <li><img src="{{MEDIA_URL}}/images/brush_ok_small.png" alt="OK"/>OK condition</li>
        <li><img src="{{MEDIA_URL}}/images/brush_threat_small.png" alt="Under threat"/>Under threat</li>
        <li><img src="{{MEDIA_URL}}/images/brush_lost_small.png" alt="Lost"/>Lost</li>                        
    </ul>
    <div id="divIntro">
        <div class="content left half">
            {% chunk "home_1" %}
        </div>
        <div class="content right half">        
            <h3>What we've been up to</h3>
            {% for blog_item in blog_items %}
                <li>
                    <h3><a href="{{blog_item.link}}">{{blog_item.title}}</a></h3>
                    <p>{% autoescape off %} {{blog_item.summary}}{% endautoescape %} </p>
                </li>
        	{% endfor %}
        </div>
    </div>        
{% endblock %}
{% block run_script %}setupFrontMap();{% endblock %}