{% extends "base.html" %}
{% block title %}Murals{% endblock %}
{% block content %}
    <div class="content full">
        <h1>London murals</h1>
        <ul>
            {% for mural in murals %}
                <li>
                    <a href="{% url mural mural.uri_slug %}">{{mural.title}}{% if mural.locality %} ({{mural.locality}}){% endif %}</a>
                </li>
        	{% endfor %}
        </ul>
        <div class="infobox">
            <h4>Do you know of a mural that we don't?</h4>
            <p>
                There's no definitive list of murals in London (that's why we're trying to build one). So if you know of a mural in your
                neighbourhood <a href="mailto:info@londonmuralpreservationsociety.com">please get in touch</a> and let us know.
            </p>
        </div>
    </div>
{% endblock %}