{% extends "mural_base.html" %}
{% block title %}{{mural.title}} mural, {{mural.locality}}{% endblock %}
{% block mural_content %}
    <div class="story">
        {{mural.long_description|safe|escape|linebreaks}}
    </div>
    {% if mural.condition_description %}
        <div>
            <h3>Condition</h3>
            {{mural.condition_description}}
        </div>
    {% endif %}
    <div class="infobox">
        <h4>Have we missed something?</h4>
        <p>
            If you know something about this mural that we have missed the <a href="mailto:info@londonmuralpreservationsociety.com">please get in touch</a>.
        </p>
    </div>
{% endblock %}