{% extends "mural_base.html" %}
{% block title %}{{mural.title}} mural, {{mural.locality}} - photographs{% endblock %}
{% block mural_content %}
    <ul>
        {% for memory in memories %}
            <li>
                <h4>{{memory.title}} - {{memory.person_name}}</h4>
                <p><em>{{memory.short_description}}</em></p>
                <div>
                    {{memory.memory_text}}
                </div>
            </li>
        {% endfor %}        
    </ul>
    <div class="infobox">
        <h4>Share your memories of '{{mural.title}}'</h4>
        <p>
            Do you remember this mural being painted? What does it mean to your community? Do you or one of your neighbours appear in the mural?
            We want to build an archive of interviews, audio and video of people's memories of this mural. 
            Please <a href="mailto:info@londonmuralpreservationsociety.com">get in touch to share your story</a>.
        </p>
    </div>    
{% endblock %}
