{% extends "base.html" %}
{% block title %}{{mural.title}} mural, {{mural.locality}}{% endblock %}
{% block content %}
    <div class="content left col">
        <h1>{{mural.title}}</h1>
        <div>
            {% for thumbnail in thumbnails %}
                <img src="{{thumbnail}}" />
            {% endfor %}
        </div>
        <p class="byline">
            {% include 'shared/mural_byline.html' %}            
        </p>
        <p class="intro">
            {{mural.short_description}}
        </p>
        <div class="story">
            {{mural.long_description|escape|linebreaks}}
        </div>
    </div>
    <div class="content right col">
        <div class="condition">
            <span class="{{mural.condition_tag}}">
                <img src="{{MEDIA_URL}}/images/brush_{{mural.condition_tag}}.png" />This mural {{mural.condition_text}}</span>
            <p class="description">
                {{mural.condition_description}}
            </p>
        </div>
        <div class="meta">
            <h4>Where to find it</h4>
            <address>
                {{mural.address}}
            </address>
            <p>
                {{mural.location_description}}
            </p>
            {% if mural.bus_routes or mural.nearest_underground or mural.nearest_underground %}
                <h4>How to get there</h4>
                <dl class="transport_routes">
                    {% if mural.bus_routes %}
                        <dt class="bus"><span>Bus</span></dt>
                        <dd>{{mural.bus_routes}}</dd>
                    {% endif %}
                    {% if mural.nearest_railway_station %}
                        <dt class="train"><span>Train</span></dt>
                        <dd>{{mural.nearest_railway_station}}</dd>
                    {% endif %}                
                    {% if mural.nearest_underground %}
                        <dt class="tube"><span>Tube</span></dt>
                        <dd>{{mural.nearest_underground}}</dd>
                    {% endif %}                
                </dl>
            {% endif %}
            {% if mural.muralaletrnativename_set.all %}
                <h4>Alternative names</h4>
                {% for alternative_name in mural.muralaletrnativename_set.all %}
                    {{alternative_name.name}}
                {% endfor %}
            {% endif %}
            {% if mural.muralfunder_set.all %}
                <h4>Funding</h4>
                {% for funder in mural.muralfunder_set.all %}
                    {{funder.name}}
                {% endfor %}
            {% endif %}
            {% if mural.muralmaterial_set.all %}
                <h4>Materials</h4>
                {% for material in mural.muralmaterial_set.all %}
                    <strong>{{material.material_type|title}}:</strong>
                    {{material.material_value}}
                {% endfor %}
            {% endif %}
        </div>
        <p class="user_action">
            Tag photos of this mural with <code>lmps:mural={{mural.id}}</code> on Flickr
        </p>
    </div>
{% endblock %}