{% extends "base.html" %}
{% load chunks %}
{% block title %}Donate{% endblock %}
{% block content %}
    <div class="content full">
        <h1>Volunteer tasks</h1>
        {% chunk "volunteer_intro" %}
    
        <h3>Open tasks</h3>
        <ul>
            {% for task in new_tasks %}
                <li>
                    <h4>{{task.title}} ({{task.size}})</h4>
                    <p>{{task.description}}</p>
                </li>
            {% endfor %}
        </ul>
        
        {% if completed_tasks %}
            <h3>Completed tasks</h3>
            <ul>
                {% for task in completed_tasks %}
                    <li>
                        <h4>{{task.title}} ({{task.size}})</h4>
                        <p>{{task.description}}</p>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}