{{mural.locality|title}} 
{% if mural.date_completed %}
{% else %}
    unknown date
{% endif %}
{{mural.date_completed|date:"Y"}}
by
{% if mural.artists.all %}
    {% for artist in mural.artists.all %}
        {% ifnotequal mural.artists.all|length 1 %}                
            {% ifequal mural.artists.all|length forloop.counter %}
                &amp;
            {% else %}
                {% if not forloop.first %}
                ,
                {% endif %}
            {% endifequal %}
        {% endifnotequal %}
        {% if artist.published %}
        <a href="{% url artist artist.uri_slug %}">{{artist.name}}</a>{% else %}{{artist.name}}{%endif%}{% if forloop.last %}.{% endif %}
    {% endfor %}                    
{% else %}
    unknown artists.
{% endif %}
{% if mural.muralmaterial_set.all %}
    {% for material in mural.muralmaterial_set.all %}
        {% ifnotequal mural.muralmaterial_set.all|length 1 %}
            {% ifequal mural.muralmaterial_set.all|length forloop.counter %}
                &amp;
            {% else %}
                {% if not forloop.first %}
                ,
                {% endif %}
            {% endifequal %}
        {% endifnotequal %}
        {{material.material_value|title}}{% if forloop.last %}.{% endif %}
    {% endfor %}
{% endif %}