<div class="content right col meta">
    <div class="condition">
        <span class="{{mural.condition_tag}}"><img src="{{MEDIA_URL}}/images/brush_{{mural.condition_tag}}.png" />This mural {{mural.condition_text}}</span>
    </div>

    <div>
        <h4>Where to find it</h4>
        <p>
            <em>{{mural.address}}</em>
        </p>
        <p>
            {{mural.location_description}}
            <br/>
            <a href="http://maps.google.com/maps?z=15&q=loc:{{mural.lat}},{{mural.lng}}">Show me on a map</a>
        </p>
    </div>
    {% if mural.bus_routes or mural.nearest_underground or mural.nearest_underground %}
        <div>
            <h4>How to get there</h4>
            <dl class="transport_routes">
                {% if mural.bus_routes %}
                    <dt class="bus"><span>Bus</span></dt>
                    <dd>{{mural.bus_routes}}</dd>
                {% endif %}
                {% if mural.nearest_railway_station %}
                    <dt class="train"><span>Train</span></dt>
                    <dd>{{mural.nearest_railway_station}}</dd>
                {% endif %}                
                {% if mural.nearest_underground %}
                    <dt class="tube"><span>Tube</span></dt>
                    <dd>{{mural.nearest_underground}}</dd>
                {% endif %}                
            </dl>
        </div>
    {% endif %}

    {# Timeline #}
    {% if show_timeline %}            
        <div>
            <h4>Timeline</h4>
            <dl class="timeline">
                   {% for year in mural.event_years %}                
                    <dt>
                        {% for event in mural.muralevent_set.all %}                                        
                            {% ifequal year event.date.year %}
                                {{year}}
                            {% endifequal %}                            
                        {% endfor %}
                    </dt>
                    <dd>
                        {% for event in mural.muralevent_set.all %}                                        
                            {% ifequal year event.date.year %}
                                {{event.title}}
                            {% endifequal %}                            
                        {% endfor %}
                    </dd>
                   {% endfor %}                   
            </dl>
            <br class="clear"/>
        </div>
    {% endif %}
    
    {% if mural.muralaletrnativename_set.all %}
        <div>
            <h4>Alternative names</h4>
            <ul>
                {% for alternative_name in mural.muralaletrnativename_set.all %}
                    <li>
                        {{alternative_name.name}}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if pictogram_width and pictogram_height %}
        <div class="pictogram_wrapper">
            <h4>Dimensions</h4>
            <div class="pictogram" style="width:{{pictogram_width|floatformat:0}}px; height:{{pictogram_height|floatformat:0}}px;">
                <span>
                    {{mural.width|floatformat}} m x {{mural.height|floatformat}} m
                </span>
                {% if pictogram_curtail_height %}
                    <span id="trim_height" style="width:{{pictogram_width|floatformat:0}}px"></span>
                {% endif %}
                {% if pictogram_curtail_width %}                
                    <span id="trim_width" style="height:{{pictogram_height|floatformat:0}}px"></span>                
                {% endif %}
                <img id="imgScale" src="{{MEDIA_URL}}/images/scale.png" alt="Person for scale" title="Person for scale"/>                
            </div>
            {% if pictogram_curtail_height and pictogram_curtail_width %}
                <small>Full width and height not shown</small>                        
            {% else %}
                {% if pictogram_curtail_height %}
                    <small>Full height not shown</small>            
                {% endif %}
                {% if pictogram_curtail_width %}                
                    <small>Full width not shown</small>            
                {% endif %}
            {% endif %}    
        </div>
    {% endif %}
    
    {# Colours #}
    {% if mural.muralcolour_set.all %}
        <div>
            <h4>Colours</h4>
            <ul class="swatch">
                {% for colour in mural.muralcolour_set.all %}
                    <li style="background:#{{colour.hex_value}};">
                
                    </li>
                {% endfor %}
            </ul>
            <br class="clear"/>
        </div>
    {% endif %}
    
    {# Funding #}
    {% if mural.muralfunder_set.all %}
        <div>
            <h4>Funding</h4>
            <ul>
                {% for funder in mural.muralfunder_set.all %}
                    <li>
                        {% if funder.uri %}
                            <a href="{{funder.uri}}">{{funder.name}}</a>                                
                        {% else %}
                            {{funder.name}}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    
    {% if mural.muralmaterial_set.all %}
        <div>
            <h4>Materials</h4>
            <ul>
                <li>
                    {% for material in mural.muralmaterial_set.all %}
                        <strong>{{material.material_type|title}}:</strong>
                        {{material.material_value}}
                    {% endfor %}
                </li>
            </ul>
        </div>
    {% endif %}

</div>